<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <a href="/" class="d-flex  mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto mb-2 justify-content-start mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Рестораны РФ</a></li>
      </ul>

      <div class="text-end">
        <div *ngIf="!isAuthorize" class="block-auth">
          <button type="button" onClick="window.location.href = '/login'" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning ml-3">Sign-up</button>
        </div>
        <div *ngIf="isAuthorize" class="block-auth">
          <button type="button" (click)="logout()" class="btn btn-outline-light me-2">Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>
